body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif; /* A modern, readable font */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5; /* Light grey background for the whole page */
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use min-height to allow content to expand */
  justify-content: space-between; /* Pushes footer to the bottom */
}

main {
  flex-grow: 1; /* Allows main content to take up available space */
  padding: 20px 0; /* Add some vertical padding to the main content area */
}
